lxml
sphinx
setuptools-trial
twisted
zope.interface

tornado
-e git+https://github.com/thisismedium/python-sasl.git#egg=python-sasl
-e git+https://github.com/thisismedium/python-xmpp-server.git#egg=python-xmpp-server
