/* Colors */
#client section {
	background: #eee;
	color: #222;
}
#client #inboxes {
	color: #222;
	background: #bbb;
}
#client .vsplitbar {
	width: 6px;
	background: #222 url(img/vgrabber.gif) no-repeat center;
}
#client .vsplitbar.active, .vsplitbar:hover {
	background-color: #666;
	width: 6px;
	opacity: 0.5;
}

#client aside {
	background-color: #333;
	color: #f00;
}

#client #wavelist ul.content time {
	color: #666;
}

/* Colors indicating state */
#client #wavelist ul.content li {
	background-color: #ccc;
}
#client #wavelist ul.content li.selected {
	background-color: transparent;
}

#client #wave aside.bottom li.private {
	background-color: #700;
}

/* Image Sprites for toolbars*/
#client .buttons a, #client .ParticipantsBar .add {
	height: 48px;
	width: 48px;
	cursor: pointer;
}
.add {
	background:url('img/buttons.png') -2px -2px;
}
.add:hover {
	background:url('img/buttons.png') -2px -52px;
}
.folder {
	background:url('img/buttons.png') -52px -2px;
}
.folder:hover {
	background:url('img/buttons.png') -52px -52px;
}
.play {
	background:url('img/buttons.png') -152px -2px;
}
.play:hover {
	background:url('img/buttons.png') -152px -52px;
}
.view {
	background:url('img/buttons.png') -102px -2px;
}
.view:hover {
	background:url('img/buttons.png') -102px -52px;
}
.remove {
	background:url('img/remove.png');
}
.remove:hover {
	background:url('img/removeh.png');
}
.edit {
	background:url('img/edit.png');
}
.edit:hover {
	background:url('img/edith.png');
}

/* ----------activity-------------- */
:focus {
	outline: red solid 1px;
}