ul.wave > li {
	border-radius : 5px;
	-moz-border-radius : 5px;
	border : medium solid blue;
	list-style-type : none;
    margin : 5px;
}
ul.wave > li.participants {
    background : blue;
    height : 125px;
}
ul.wave > li.participants > ul > li {
    float : left;
    list-style-type : none;
    width : 180px;
    text-align : center;
    color : gray;
}
ul.wave > li.add {height : 100px;}

ul.wave p.replies {border-top : thin solid blue;}
